<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container no-padding">
      <div class="row">
        <div class="valign-wrapper">
          <div class="col s12 m6">
            <div class="valign left">TU München</div>
          </div>
          <div class="col s12 m6">
            <div class="valign right">© Rostlab 2016</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src={{ "/js/jquery-2.2.0.min.js" }}></script>
  <script type="text/javascript" src={{ "/js/materialize.min.js" }}></script>
  <script type="text/javascript" src={{ "/js/init.js" }}></script>
</footer>

