<header class="site-header">

  <nav class="blue lighten-3"> 
    <div class="nav-wrapper">
      <a href="/" class="brand-logo right"><img src="/media/logo.png" alt="anita borg celebration logo" /></a>
      <!--<i class="material-icons overlap-icon">code</i></a>-->
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/venue">Venue</a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/venue">Venue</a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
    </div>
  </nav>

</header>
