h1, h2, h3, h4, h5, h6 {
  font-weight: $thin;
}
h1 {
  font-size: 3.2em;
}
h2 {
  font-size: 2.2em;
}
.subheader {
  font-size: 1.8em;
  line-height: 2.1em;
}
@media only screen and (max-width : 600px) {
  h1 {
    font-size: 2.0em;
  }
  h2 {
    font-size: 1.6em;
  }
  .subheader {
    font-size: 1.4em;
    line-height: 1.8em;
  }
}
/* Mixins */
@mixin vendor($attr, $val){
  -webkit-#{$attr}: $val;
  -moz-#{$attr}: $val;
  -ms-#{$attr}: $val;
  -o-#{$attr}: $val;
  #{$attr}: $val;
}


.container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.layer {
  background-color: $background-color-layer;
  /* IE 8 OPACITY */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

/* Colors */
.primary-color {
  color: $primary-color;
}
.primary-bg {
  background-color: $primary-color;
}
.secondary-color {
  color: $secondary-color;
}
.tertiary-color {
  color: $tertiary-color;
}

.secondary-bg {
  background-color: $secondary-color;
}
.tertiary-bg {
  background-color: $tertiary-color;
}

.full-height {
  height: 92vh !important;
}