/* Materialize Extensions */
/* Sticky Footer  for FF, Chrome, Safari */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    flex: 1 0 auto;
}
/* IE10+ fix to circumvent poorly supported flexbox features */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body, main {
            display: block;
            min-height: auto;
    }
}

footer {
  margin-top: 0 !important;
}

.nav-wrapper {
  .material-icons {
    &.overlap-icon {
      font-size: 3rem;
      position: absolute;
      bottom: $gutter-width / 3;
      right: $gutter-width * 1.5;
    }
    &.underlap-icon {
      font-size: 4rem;
    }
  }
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

/* Helpers */
/* Text helpers */
.uppercase {
    text-transform: uppercase;
}


.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}