/* Materialize Extensions */
/* Sticky Footer  for FF, Chrome, Safari */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    flex: 1 0 auto;
}

/* IE10+ fix to circumvent poorly supported flexbox features */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body, main {
            display: block;
            min-height: auto;
    }
}

footer {
  margin-top: 0 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  background-color: $secondary-color !important;
  border-top: 1px solid $grey-color;
}

.footer-button {
  max-height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

.footer-copyright {
  //color: inherit !important;
  background-color: $secondary-color !important;
}


.nav-wrapper {
  .brand-logo {
    img {
      max-height: 40px;
      width: auto;
      margin-top: 0.3em;
    }
  }
  li.active{
    background-color: $secondary-color;
    a {
      color: $primary-color;
    }
  }
}

.card {
  .card-action {
    a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
      color: $tertiary-color;

      &:hover {
        color: $primary-color;
      }
    }
  }
  .card-title {
    &.primary-color {
      color: $primary-color;
      text-shadow: 2px 2px 3px $secondary-color;
    }
  }
  //.card-image {
  //  max-height: 200px;
  //}
  //.card-content {
  //  min-height: 140px;
  //}
  .placeholder-img {
    padding: 25% 0;
    text-align: center;
    display: block;
    width: 100%;
    min-height: 200px;
  }
}

.team {
  .card {
    .card-image {
      max-height: 200px;
    }
    .card-content {
      min-height: 140px;
    }
    .placeholder-img {
      padding: 25% 0;
      text-align: center;
      display: block;
      width: 100%;
      min-height: 200px;
    }
  }
}

.section.benefits {
  h3 {
    font-size: 1.6em;
  }
}

.parallax-container {
  min-height: 380px;
  //line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    position: relative;
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  .parallax-container .section {
    position: absolute;
    top: 20%;
  }
  #index-banner .section {
    top: 0;
  }
}

/* Helpers */
/* Text helpers */
.uppercase {
  text-transform: uppercase;
}
.text-shadow {
  &.primary-color {
    text-shadow: 2px 2px 3px $secondary-color;
  }
}
/* Layout Helper */
@for $i from 0 through 12 {
  .mt-#{$i} { 
    margin-top: $i * 1.5em; 
  }
  .mb-#{$i} { 
    margin-bottom: $i * 1.5em; 
  }
  .pt-#{$i} { 
    padding-top: $i * 1.5em; 
  }
  .pb-#{$i} { 
    padding-bottom: $i * 1.5em; 
  }
}
.padded {
  padding-top: 6em;
  padding-bottom: 6em;
}

/* Background helpers */
.veil {
  opacity: 0.75;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.blur {
  @include vendor('filter', blur(2px));
}
.oversize {
  width: 120%;
}
.activator {
  @include vendor('transition', color 0.3s ease-in);
  &:hover {
    color: $tertiary-color !important;
  }
  
}
.block {
  display: block;
}
.circle-frame {
  margin: 0.5em auto;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  img {
    width: 100%;
  }
}

/* Eye candy */
@media #{$medium-and-up} {
  .vertical-divider {
    border-right: 1px solid $text-color;
  }
  .center-line:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid $text-color;
  }
}

@media #{$small-and-down} {
  .vertical-divider {
    padding-bottom: 2em !important;
  }
}

#address {
  position: relative;
}

#address-headline {
  border: 1px solid $text-color;
}


/* Make Google maps embed responsive */

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

#google-logo {
  max-height: 70px;
}


.img-bubble {
  overflow: hidden;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
  border: 2px solid $secondary-color;
  margin: 1em auto;
}
.sponsor-placeholder {
  text-align: center;
  margin: 0 auto;
  //background-color: #d9d9d9;
  border-style: dashed;
  border-width: 2px;
  border-color: $secondary-color;
  padding: 1em;
  min-height: 90px;
  max-width: 220px;
}

.logo {
  max-height: 100px;
}
.contact {
  .circle {
    width: 4em;
    height: auto;
    margin: 0.5em auto;
  }
}

.pb-0 {
  padding-bottom: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.pt-0 {
  padding-top: 0;
}
.mt-0 {
  margin-top: 0;
}