/* Materialize Extensions */
/* Sticky Footer  for FF, Chrome, Safari */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    flex: 1 0 auto;
}

/* IE10+ fix to circumvent poorly supported flexbox features */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body, main {
            display: block;
            min-height: auto;
    }
}

footer {
  margin-top: 0 !important;
}

.nav-wrapper {
  .material-icons {
    &.overlap-icon {
      font-size: 3rem;
      position: absolute;
      bottom: $gutter-width / 3;
      right: $gutter-width * 1.5;
    }
    &.underlap-icon {
      font-size: 4rem;
    }
  }
}

.card {
  .card-action {
    a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
      color: $tertiary-color;
 
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    position: relative;
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

/* Helpers */
/* Text helpers */
.uppercase {
  text-transform: uppercase;
}

.padded {
  padding-top: 6em;
  padding-bottom: 6em;
}

.card-content {
  //min-height: 120px;
}

/* Background helpers */
.veil {
  opacity: 0.75;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.blur {
  @include vendor('filter', blur(2px));
}

/* Eye candy */
@media #{$medium-and-up} {
  .vertical-divider {
    border-right: 1px solid $text-color;

  }
}

@media #{$small-and-down} {
  .vertical-divider {
    padding-bottom: 2em !important;
  }
}

#address {
  position: relative;
}

#address-headline {
  border: 1px solid $text-color;
}

.center-line:after {
  content:"";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid $text-color;
}


/* Make Google maps embed responsive */

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

#google-logo {
  max-height: 70px;
}