footer, header, main {
  padding: 1em 2em;
}

h1, h2 {
  letter-spacing: .2em;
  position: relative;
}

h3 {
  letter-spacing: .1em;
}

p, li {
  letter-spacing: 0em;
}

.portfolio h1, .portfolio h2, .portfolio h3,  .portfolio h4, .nes-text {
  font-family: "Press Start 2P", sans-serif;
}

.mt-1, .mt-1.nes-container {
  margin-top: .75em;
}

.portfolio .nes-container {
  position: relative;
  padding-bottom: 4em;
}

.nes-container .nes-avatar {
  position: absolute;
  right: 2em;
  bottom: 1em;
  display: block;
}

.nes-container.is-dark li,
.nes-container.is-dark h4,
.nes-container.is-dark h3,
.nes-container.is-dark p,
.nes-container.is-dark i {
  color: #e9e9e9;
}

h2  .nes-icon {
  position: relative;
  display: inline-block;
  right: -1em;
  top: 0;
}

.portfolio hr {
  margin-bottom: 4em;
}

.portfolio progress {
  margin-bottom: 1em;
}

.portfolio {
  background-color: #e7e7e7;
}

.portfolio .row .col-6 iframe + iframe {
  margin-top: 1em;
}
